[
  {rabbit, [
		{auth_backends, [rabbit_auth_backend_http]},
		{ loopback_users, [ ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ hipe_compile, false }
	]},
  {rabbitmq_auth_backend_http,
   [{http_method,   post},
    {user_path,     "http://localhost/user"},
    {vhost_path,    "http://localhost/vhost"},
    {resource_path, "http://localhost/resource"},
    {topic_path,    "http://localhost/topic"}]
	},
	{ rabbitmq_management, [ { listener, [
                { port, 15672 },
                { ssl, false }
        ] } ] 
	}
].
